# Example environment variables for the project
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database_name>
SECRET_KEY=<your-secret-key>
JWT_SECRET_KEY=<your-jwt-secret-key>
JWT_REFRESH_SECRET_KEY=<your-jwt-refresh-secret-key>